body{
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.50;
    color: rgb(149, 42, 188);
    background-color: rgb(113, 222, 185);
    margin: 0;
}

h1{
    font-size: 30px;
    font-weight: bold;
}

.navbar{
    position: relative;
    min-height: 50px;
    background-color: blanchedalmond;
    margin-bottom: 20px;
    top: 0;
}

.container{
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      width: 1170px; /*ancho*/
}

.nav{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    
}

.navbar-nav{
    float: left;
    margin: 7px -15px;
    
}

.nav > li{/*Para todos los li que esten dentro del nav tendrán estos estilos*/
    float: left;
    position: relative;
    display: block;
    background-color: rgb(98, 98, 253);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
}

.nav > li > a{
    padding: 10px 15px;
    line-height: 20px;
    position: relative;
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    /*background-color: transparent;*/
}

.nav > li > a:hover,
.nav > li > a:focus{
    background-color: #e0e0e0; 
    color: black;
    border-radius: 5px;
}

.table{
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}

.table td, .table th{
    border: 1px solid black;
    padding: 10px;
}

body {
    font-family: "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.50;
    color: rgb(149, 42, 188);
    background-color: rgb(113, 222, 185);
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
    background-color: lightblue;
    color: navy;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.parrafo {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    color: rgb(236, 249, 60);
    margin-bottom: 10px;
}

.fechaNacimiento p {
    margin: 0;
}

.fechaNacimiento input {
    margin: 0;
    display: block;
}

.diasTranscurridos, .diasFaltantes{
    font-size: 30px;
    color: brown;
    background-color: beige;
    text-align: center;
}

.añobisiesto{
    font-size: 30px;
    font-weight: 800;
    background-color: yellow;
    color: blue;
}
.tituloExamen{
    font-size: 60px;
    color: blue;
    font-weight: bold;
    text-align: center;
}

.años{
    padding-bottom: 60px;
}
.subtitulo{
    text-align: center;
    text-decoration: underline blue;
}

.conBisiesto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputAno{
    margin-bottom: 15px;
}
